@import "../colors/gruvbox.css";
@import "../global.css";
/*
* {
  font-family: Berkeley Mono, FontAwesome;
  font-size: 24px;
  font-weight: bold;
}
*/

window#waybar {
  background-color: rgba(40, 40, 40, 0.5);
  color: @bg;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 0px;
  transition-duration: .5s;
  /*border-bottom-width: 2px;*/
  /*border-bottom-color: @fg;*/
  /*border-bottom-style: solid;*/
}

window#waybar.hidden {
  opacity: 0.2;
}

tooltip {
  border-radius: 8px;
  background: @bg4;
}

tooltip label {
  color: @fg;
}

#workspaces {
  border-radius: 8px;
  transition: none;
  background: @fg4;
  
}

#workspaces button{
  border-radius: 8px;
  color: @bg;
  background: @fg4;
}

#workspaces button:hover {
  background: @aqua;
  color: @bg;
}

#workspaces button.active {
  color: @bg;
  background: @blue;
  
}

*{
  border-radius: 0px 8px 8px 0px;
}

#custom-launcher,
#clock,
#battery,
#cpu,
#temperature,
#backlight,
#network,
#pulseaudio,
#memory,
#custom-dunst,
#custom-powermenu {
  color: @blue;
  background-color: @fg4;
}

/* ========= APP LAUNCHER ========= */

#custom-launcher {
  color: @bg;
  background-color: @fg4;
  border-radius: 0px;
  
  
}

/* ========= CLOCK ========= */

#clock.icon {
  font-size: 22px;
  color: @bg;
  background-color: @red;
  
  
}

#clock.time {
  color: @bg;
  background-color: @fg4;
  
  
}

/* ========= DATE ========= */

#clock.dateicon {
  color: @bg;
  background-color: @green;
  
  
}

#clock.date {
  color: @bg;
  background-color: @fg4;
  
  
}

/* ========= NOTIFICATIONS ========= */

#custom-dunst {
  background-color: @fg4;
}

/* ========= VOLUME ========= */

#pulseaudio.icon {
  font-size: 22px;
  color: @bg;
  background-color: @yellow;
  
  
}

#pulseaudio.sound {
  color: @bg;
  background-color: @fg4;
  
  
}

/* ========= NETWORK ========= */

#network.icon {
  color: @bg;
  background-color: @purple;
}

#network.strenght {
  color: @bg;
  background-color: @fg4;
  
  
}

/* ========= BATTERY ========= */

#battery.icon {
  font-size: 22px;
  color: @bg;
  background-color: @aqua;
  
  
}

#battery.value {
  color: @bg;
  background-color: @fg4;
  
  
}

/* ========= WINDOW ========= */

#window.icon {
  color: @blue;
  background-color: @fg;
  
  
}

#window.title {
  color: @bg;
  background-color: @fg4;
  
  
}

/* ========= CPU ========= */

#cpu.icon {
  color: @blue;
  background-color: @fg4;
  
  
}

#cpu.usage {
  color: @bg;
  background-color: @fg4;
  
  
}

/* ========= TEMPERATURE ========= */

#temperature.icon {
  color: @blue;
  background-color: @fg4;
  
  
}

#temperature.value {
  color: @bg;
  background-color: @fg4;
  
  
}

#custom-powermenu {
  color: @bg;
  background-color: @fg4;
  
  
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

.icon{
  border-radius: 8px 0px 0px 8px;
  padding: 0px 4px 0px 4px;
  margin: 0px 0px 0px 4px;
}
.dateicon {
  border-radius: 8px 0px 0px 8px;
  padding: 0px 4px 0px 4px;
  margin: 0px 0px 0px 4px;
}
